* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row1, .row2{
    height: 35vh;
    width: 80vw;
    background-color: red;
    border: 1px solid;
}

.row1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7vh;
}

.row2 {
    display: flex;
    justify-content: space-between;
}

.plt-box {
    height: 100%;
    width: 30%;
}

.au {
    background-color: greenyellow;
}

.gb {
    background-color: orange;
}

.ca  {
    background-color: cyan;
}

.nc {
    background-color: greenyellow;
}

.nl {
    background-color: orange;
}

.fr  {
    background-color: cyan;
}