* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row1, .row2{
    height: 20vw;
    width: 100vw;
    background-color: red;
    border: 1px solid;
}

.row1 {
    display: flex;
}

.row2 {
    display: flex;
}

.plt-box {
    width: 30%;
    height: 100%;
}

.au, .gb, .ca  {
    background-color: greenyellow;
}