* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
}

.container {
    width: 100%;
    height: 100%;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row1, .row2{
    height: 35vh;
    width: 80vw;
    background-color: red;
    border: 1px solid;
}

.row1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7vh;
}

.row2 {
    display: flex;
    justify-content: space-between;
}

.plt-box {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.color-box-container {
    width: 100%;
    height: 85%;
    background-color: blue;
    /* margin-bottom: 5%; */
    display: flex;
    flex-wrap: wrap;
}

.color-box {
    background-color: pink;
    width: 20%;
    height: 25%;
    border: 1px solid;
}

.country-code {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 10%;
}

.au {
    background-color: greenyellow;
}

.gb {
    background-color: orange;
}

.ca  {
    background-color: cyan;
}

.nc {
    background-color: greenyellow;
}

.nl {
    background-color: orange;
}

.fr  {
    background-color: cyan;
}